<mat-toolbar class="headerwidth">
  <!--<button mat-icon-button *ngIf="userIsAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>-->
  <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
    <mat-icon *ngIf="userIsAuthenticated">menu</mat-icon>
  </button>
  <router-outlet></router-outlet>
  <span><a routerLink="/">FriendFunds</a></span>
  <span class="spacer"></span>
  <ul>
    <!--<li *ngIf="userIsAuthenticated">-->
    <a routerLink="/about" mat-button>About FriendFunds</a>
    <!--</li>-->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Sign Up</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/friends'" (click)="sidenav.toggle()">
        Friends List
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <!--  <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
        <mat-icon *ngIf="userIsAuthenticated">menu</mat-icon>
      </button>-->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
