<mat-card class="example-card mat-elevation-z8">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>About Friend Funds</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <p>
      Friend Funds is an online and peer-to-peer lending community whose aim is
      to build a network of people with good credit history.
    </p>
    <br />
    <p>
      To be a part of this community, sign up and look for friends and begin
      lending!
    </p>
  </mat-card-content>
</mat-card>
